
html {
    scroll-behavior: smooth;
  }

/* menu */
#menu {
  background-color: #fff;
  position: fixed;
  z-index: 10;
  width: 100%;
}

#navi {
  font-size: 0.9rem;
}


/* button */

 .bg-transparent {
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  border-radius: 30px;
}
