html {
  scroll-behavior: smooth;
}

.scroll-prevent {
  /*動き固定*/
  overflow-y: hidden;
}

/* top */

.video-container {
  position: relative;
}

video {
  position: relative;
  width: 100%;
}

@media screen and (max-width: 768px) {
  #video1 {
    display: none;
  }

  .video-container {
    height:100vh;
    background-image: url(img/mv-sp.jpg);
    background-size: cover;
    background-repeat: none;
  }

  .video-container::before {
    background: inherit;
    filter: blur(2.5px);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
  }
}

.top-video-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* menu */
#menu {
  background-color: rgba(255, 255, 255, 0.889);
  position: fixed;
  z-index: 10;
  width: 100%;
  transition: .5s;
}

#navi {
  font-size: 0.9rem;
}


/* button */

.bg-transparent {
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  border-radius: 30px;
}

/* button */
.bg-transparent {
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  border-radius: 30px;
}
/* ---radio button------ */
.tabAnim {
  z-index: -9;
}
.radio-focus {
  background-color: #72a1c7;
}
#option0:checked ~ div {
  --tw-translate-x: 0%;
}
#option1:checked ~ div {
  --tw-translate-x: 100%;
}
#option2:checked ~ div {
  --tw-translate-x: 200%;
}
#option3:checked ~ div {
  --tw-translate-x: 300%;
}
#option4:checked ~ div {
  --tw-translate-x: 400%;
}
.radio-button {
  flex-direction: column;
}
.form-submit button {
  background-color: #90caf9;
}
/* ---radio button------ */


@media screen and  (min-width:768px) {
  .drawer {
    display:none;
  }
  
}

/* 画面サイズが768pxまではここを読み込む  (sm) */
@media (max-width: 767px) {
  .radio-button label {
    font-size: 0.7rem;
  }
}


/* ---form message------ */
.end-message {
  display: none;
}
.false-message {
  display: none;
}
/* ---form message------ */


.neumorphism {
  border-radius: 50%;
  background: #F3F4F6;
  box-shadow:  10px 10px 19px #dbdcdd,
               -10px -10px 19px #ffffff;
}


/* --- humberger menu------ */

/* チェックボックスは非表示に */
.drawer-hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer-open {
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;/* 重なり順を一番上に */
  cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer-open span,
.drawer-open span:before,
.drawer-open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #333;
  transition: 0.5s;
  position: absolute;
}

/* 三本線のうち一番上の棒の位置調整 */
.drawer-open span:before {
  bottom: 8px;
}

/* 三本線のうち一番下の棒の位置調整 */
.drawer-open span:after {
  top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer-check:checked ~ .drawer-open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer-check:checked ~ .drawer-open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer-check:checked ~ .drawer-open span::after {
  top: 0;
  transform: rotate(-45deg);
}
  
/* メニューのデザイン*/
.drawer-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 150%;/* メニューを画面の外に飛ばす */
  z-index: 99;
  background: #fff;
  transition: .5s;
  opacity: .9;
  padding-top: 2rem;
  padding-left: 1rem;
  box-shadow: 0 0px 25px 0 rgba(0, 0, 0, .3);
}

/* アイコンがクリックされたらメニューを表示 */
#drawer-check:checked ~ .drawer-content {
  left: 30%;/* メニューを画面に入れる */
}